# Practice 3
_Text files, tables and modules_

Before starting, make sure you have in the same folder as this notebook, the following files: 
- my_text_file.txt
- my_csv_file.csv
- logins_v1.csv
- connections_v1.csv
## Text files
Let's start with a opening basic text file: Hamlet. We're gonna load it, find who are the characters with the most lines of dialogue, sort them, and save the result in another file.

In [1]:
file = 'my_text_file.txt'
with open(file, 'r') as f:
    lines = f.readlines()

How many lines in this file?
Print the number of lines, then print the first 20 lines.

In [2]:
# your code here
print(len(lines))
for line in lines[:20]:
    print(line)

4415
THE TRAGEDY OF HAMLET, PRINCE OF DENMARK



ACT I. Scene I.

Elsinore. A platform before the Castle.



Enter two Sentinels-[first,] Francisco, [who paces up and down

at his post; then] Bernardo, [who approaches him].



  Ber. Who's there.?

  Fran. Nay, answer me. Stand and unfold yourself.

  Ber. Long live the King!

  Fran. Bernardo?

  Ber. He.

  Fran. You come most carefully upon your hour.

  Ber. 'Tis now struck twelve. Get thee to bed, Francisco.

  Fran. For this relief much thanks. 'Tis bitter cold,

    And I am sick at heart.

  Ber. Have you had quiet guard?

  Fran. Not a mouse stirring.

  Ber. Well, good night.

It seems like every line is ending with a '\n' (return to the line) character. Let's remove them with the _strip_ method. and let's only keep the lines with at least 4 characters.

In [3]:
lines = [line.strip('\n') for line in lines] #strip the \n
lines = [line for line in lines if len(line)>3] #keep the lines with at least 4 characters

for line in lines[:20]:
    print(line)

THE TRAGEDY OF HAMLET, PRINCE OF DENMARK
ACT I. Scene I.
Elsinore. A platform before the Castle.
Enter two Sentinels-[first,] Francisco, [who paces up and down
at his post; then] Bernardo, [who approaches him].
  Ber. Who's there.?
  Fran. Nay, answer me. Stand and unfold yourself.
  Ber. Long live the King!
  Fran. Bernardo?
  Ber. He.
  Fran. You come most carefully upon your hour.
  Ber. 'Tis now struck twelve. Get thee to bed, Francisco.
  Fran. For this relief much thanks. 'Tis bitter cold,
    And I am sick at heart.
  Ber. Have you had quiet guard?
  Fran. Not a mouse stirring.
  Ber. Well, good night.
    If you do meet Horatio and Marcellus,
    The rivals of my watch, bid them make haste.
                    Enter Horatio and Marcellus.

You can see that each time someone speak, there are 2 spaces, followed by their name, then a dot, and the replica.
Can we detect all the lines starting with 2 spaces?

In [4]:
count = 0
for line in lines:
    if line[:2]=='  ':
        count+=1
print(f" There are {count} lines starting with 2 spaces")

 There are 4063 lines starting with 2 spaces

But, what if some of these lines have 3 or more spaces? find a way to select only the lines where the 2 first characters are spaces, but not the third.

In [5]:
count = 0
#your code here

print(f" There are {count} lines starting with only 2 spaces")

 There are 0 lines starting with only 2 spaces

Now, let's try to find what is the name of the character talking. 
Each line start with the name of a character, then a dot, a space, and the rest of the sentence.
how can we split that line to only get the character?
Using the _split_ function!

In [6]:
line = 'Fran. Nay, answer me. Stand and unfold yourself.\n'
print(line.split('. '))

['Fran', 'Nay, answer me', 'Stand and unfold yourself.\n']

In [7]:
# The first element of the list must be the name of the character!
print(line.split('. ')[0])

Fran

In [8]:
# What if we filled a list with the names of all the characters, in the order:
#we initiate an empty list
characters = []
for line in lines:
    if line[:2]=='  ' and line[2]!=' ': #if the line starts with only two spaces
        char = line.split('. ')[0] #we extract the name of the character
        characters.append(char) #and append it to the list!
print(f" Here is the first 10 characters: {characters[:10]}")

 Here is the first 10 characters: ['  Ber', '  Fran', '  Ber', '  Fran', '  Ber', '  Fran', '  Ber', '  Fran', '  Ber', '  Fran']

In [9]:
#hum, we still have the two spaces at the begnining, let's remove them!
characters = [c[2:] for c in characters]
print(f" Here is the first 10 characters: {characters[:10]}")

 Here is the first 10 characters: ['Ber', 'Fran', 'Ber', 'Fran', 'Ber', 'Fran', 'Ber', 'Fran', 'Ber', 'Fran']

In [10]:
#Most characters are talking multiple times... let's see the set of characters:
print(set(characters))

{'Pol', 'Both', 'All', 'Priest', 'Mess', 'Player', 'King', 'Guil', 'Servant', 'Ham', 'Ros', 'Other', 'Rey', 'Volt', 'Gentlemen', 'Oph', 'Hor', 'Gent', 'Osr', 'Sailor', 'Clown', 'Queen', 'For', 'Laer', 'Lord', 'Fort', 'Fran', 'Ambassador', 'Capt', 'Ghost', 'Mar', 'Ber', 'Cor'}

In [11]:
# Can count them?
# let's do a dictionary: for each character, how many times did we see them:
how_many = {char:0 for char in set(characters)} #initiate the dictionary with all values at 0
for char in characters:
    how_many[char]+=1
print(f"How many time each character talked? {how_many}")

How many time each character talked? {'Pol': 86, 'Both': 9, 'All': 6, 'Priest': 2, 'Mess': 3, 'Player': 2, 'King': 102, 'Guil': 29, 'Servant': 1, 'Ham': 358, 'Ros': 45, 'Other': 12, 'Rey': 13, 'Volt': 1, 'Gentlemen': 1, 'Oph': 58, 'Hor': 109, 'Gent': 2, 'Osr': 25, 'Sailor': 2, 'Clown': 33, 'Queen': 69, 'For': 2, 'Laer': 62, 'Lord': 3, 'Fort': 4, 'Fran': 8, 'Ambassador': 1, 'Capt': 7, 'Ghost': 15, 'Mar': 31, 'Ber': 19, 'Cor': 1}

To sort them, we're using the function _sorted_.
You give it a list, here we are using the items of 'how_many' and it returns the list sorted.

In [12]:
print(how_many.items())

dict_items([('Pol', 86), ('Both', 9), ('All', 6), ('Priest', 2), ('Mess', 3), ('Player', 2), ('King', 102), ('Guil', 29), ('Servant', 1), ('Ham', 358), ('Ros', 45), ('Other', 12), ('Rey', 13), ('Volt', 1), ('Gentlemen', 1), ('Oph', 58), ('Hor', 109), ('Gent', 2), ('Osr', 25), ('Sailor', 2), ('Clown', 33), ('Queen', 69), ('For', 2), ('Laer', 62), ('Lord', 3), ('Fort', 4), ('Fran', 8), ('Ambassador', 1), ('Capt', 7), ('Ghost', 15), ('Mar', 31), ('Ber', 19), ('Cor', 1)])

In [13]:
sorted_list = sorted(how_many.items())
print(sorted_list)

[('All', 6), ('Ambassador', 1), ('Ber', 19), ('Both', 9), ('Capt', 7), ('Clown', 33), ('Cor', 1), ('For', 2), ('Fort', 4), ('Fran', 8), ('Gent', 2), ('Gentlemen', 1), ('Ghost', 15), ('Guil', 29), ('Ham', 358), ('Hor', 109), ('King', 102), ('Laer', 62), ('Lord', 3), ('Mar', 31), ('Mess', 3), ('Oph', 58), ('Osr', 25), ('Other', 12), ('Player', 2), ('Pol', 86), ('Priest', 2), ('Queen', 69), ('Rey', 13), ('Ros', 45), ('Sailor', 2), ('Servant', 1), ('Volt', 1)]

As you can see, by default it is sorting the first element, so here we have the names in alphabetical order... We can change that by defining the key used by the function as *"the second element of each item"*, with the _key_ option

In [14]:
sorted_list = sorted(how_many.items(), key=lambda x:x[1])
print(sorted_list)

[('Servant', 1), ('Volt', 1), ('Gentlemen', 1), ('Ambassador', 1), ('Cor', 1), ('Priest', 2), ('Player', 2), ('Gent', 2), ('Sailor', 2), ('For', 2), ('Mess', 3), ('Lord', 3), ('Fort', 4), ('All', 6), ('Capt', 7), ('Fran', 8), ('Both', 9), ('Other', 12), ('Rey', 13), ('Ghost', 15), ('Ber', 19), ('Osr', 25), ('Guil', 29), ('Mar', 31), ('Clown', 33), ('Ros', 45), ('Oph', 58), ('Laer', 62), ('Queen', 69), ('Pol', 86), ('King', 102), ('Hor', 109), ('Ham', 358)]

Hum, the elements are in ascending order... What if we wanted them in descending order? to start with the higher one? Look on the manual page which keyword to use, available here: https://www.w3schools.com/python/ref_func_sorted.asp.

In [15]:
#Your code here
decending_sorted_list = sorted(how_many.items(), key=lambda x:x[1], reverse=True)

Now let's save it!

In [16]:
lines_to_write = [f"{char}: {num}\n" for char, num in sorted_list]
with open('my_sorted_list.txt', 'w') as f: #we are writing this time, so mode='w'
    f.writelines(lines_to_write)

Look at the created file. Who is the character who had the more lines?
## Modules
Now we're gonna need pandas to use the tables, so let's import it:

In [18]:
import pandas as pd

While we are at it, let's try to load another small module: tqdm
https://tqdm.github.io/
This module has one interesting function: tqdm, so we are only gonna import this one.

In [19]:
from tqdm import tqdm

if it is not installed, we can install it with a bash command. In jupyter, every command that starts with a ! is  interpreted as a bash command.

In [3]:
!pip install tqdm

Requirement already satisfied: tqdm in /Users/thomas/miniconda3/envs/dino/lib/python3.8/site-packages (4.64.1)

Now it should work, let's import it, and try it.
Tqdm is basically a loading bar package: you use it around for loops to make them look better.

In [20]:
from tqdm import tqdm

j=0
for i in tqdm(range(50000000)):
    j+=1

100%|██████████| 50000000/50000000 [00:15<00:00, 3249926.61it/s]

Well, tqdm seems to work, you might need it another time, and now it's installed!

## Tables

Now that pandas is working, let's import a table: "_people.csv_"

In [21]:
people = pd.read_csv('people.csv')
people

,names,surnames,ips,passwords,logins
0,Hannah,AIDEN,67.4549.197.72,Hannah1956,hannah_aiden@email.com
1,Chaya,RAQUEL,216.41678.206.128,@zerty,chaya_raquel@email.com
2,Lilly,JOANNA,192.62925.205.139,04[c,lilly_joanna@email.com
3,Jesus,BEATRIX,103.28476.60.152,Jesus1974,jesus_beatrix@email.com
4,Aliza,ALEKSANDRA,206.49123.227.221,Aliz@1976,aliza_aleksandra@email.com
...,...,...,...,...,...
95,Hassan,RUCHY,200.57725.125.14,@b0^gaT,hassan_ruchy@email.com
96,Natalie,WENDY,166.91.91.44,26041991,natalie_wendy@email.com
97,Heaven,WILLOW,104.63247.15.143,1ogan2001,heaven_willow@email.com
98,Gavriel,CAMILO,216.24147.83.17,GCAM1LO93,gavriel_camilo@email.com
99,Jose,CHANIE,176.25032.200.168,18021980,jose_chanie@email.com

We can see its a table, that contains the names, surnames, ip of registration, passwords and logins associated with everyone.
<br>
Last week, we saw how to measure the accuracy of a system using a list of logins, a list of passwords and a list of connection attempts.
<br>
Let's define the list of logins:

In [22]:
logins = list(people['logins'])
print(logins)

['hannah_aiden@email.com', 'chaya_raquel@email.com', 'lilly_joanna@email.com', 'jesus_beatrix@email.com', 'aliza_aleksandra@email.com', 'eddy_steven@email.com', 'giancarlo_julien@email.com', 'ben_kevin@email.com', 'abdiel_dominick@email.com', 'shlome_raina@email.com', 'penelope_amirjon@email.com', 'jade_alexandra@email.com', 'april_colin@email.com', 'grayson_drew@email.com', 'jayren_juliette@email.com', 'catherine_nolan@email.com', 'rehan_emmy@email.com', 'empress_willow@email.com', 'yakov_ayra@email.com', 'jennifer_corey@email.com', 'kaylee_barbara@email.com', 'arvin_jessica@email.com', 'aleah_malak@email.com', 'sergio_ahmad@email.com', 'manha_karen@email.com', 'niam_melissa@email.com', 'adele_eileen@email.com', 'pinchus_blimy@email.com', 'lucy_elijah@email.com', 'tyler_ilana@email.com', 'brayan_essence@email.com', 'paige_elvis@email.com', 'kayleen_cairo@email.com', 'elianny_samiya@email.com', 'sean_mary@email.com', 'briana_joel@email.com', 'trany_amelie@email.com', 'aayat_aiza@email.com', 'marvin_yachet@email.com', 'isabela_rocco@email.com', 'beatrix_chava@email.com', 'ilan_ada@email.com', 'sloane_brayan@email.com', 'sahil_leyla@email.com', 'amora_maverick@email.com', 'yasmina_judy@email.com', 'zahra_sabina@email.com', 'vivian_viviana@email.com', 'hanna_esty@email.com', 'izaiah_brendan@email.com', 'caroline_shaindy@email.com', 'arham_mathias@email.com', 'amirah_kaden@email.com', 'brian_estrella@email.com', 'damian_goldy@email.com', 'jeremiah_rory@email.com', 'kaylin_terry@email.com', 'sophia_frieda@email.com', 'milania_madison@email.com', 'yara_gustavo@email.com', 'theo_renee@email.com', 'jane_jaelynn@email.com', 'zander_hinda@email.com', 'oumou_dulce@email.com', 'jannatul_phoenix@email.com', 'marco_liora@email.com', 'brody_henny@email.com', 'rachel_shania@email.com', 'fraidy_abel@email.com', 'joaquin_henry@email.com', 'natalia_nina@email.com', 'jared_roger@email.com', 'landon_gordon@email.com', 'spencer_luis@email.com', 'tyler_greyson@email.com', 'cataleya_zaire@email.com', 'zayan_imona@email.com', 'adina_janiyah@email.com', 'malak_scarlett@email.com', 'anton_skylah@email.com', 'enrique_aiden@email.com', 'mandy_alan@email.com', 'ilana_arisha@email.com', 'derrick_leia@email.com', 'samira_alex@email.com', 'esty_skylar@email.com', 'princeton_yaretzi@email.com', 'nicholas_leyla@email.com', 'elan_aniyah@email.com', 'safwan_giulia@email.com', 'jasiah_nyla@email.com', 'layla_elena@email.com', 'bentzion_paris@email.com', 'prince_dashiell@email.com', 'sharon_danny@email.com', 'hassan_ruchy@email.com', 'natalie_wendy@email.com', 'heaven_willow@email.com', 'gavriel_camilo@email.com', 'jose_chanie@email.com']

Now let's define the list of passwords:

In [23]:
#your code here
passwords = list(people['passwords'])
print(passwords)

['Hannah1956', '@zerty', '04[c', 'Jesus1974', 'Aliz@1976', 'qwerty', '@nnabelle4&ver', 'ps$wrd', "'ez?", 'my_p@$sw0rd', '25031959', '23061991', 'Nechama4Ever', 'Grayson1986', 'Aman14Ever', 'K*m?3d>6sH', 'Zaria4Ever', '123456', 'Sara4&ver', 'J&nnif&r2002', 'KBARBARA29', '1234567890', 'Jabari4Ever', 'Leila4Ev&r', '03021999', 'Niam1999', 'Ad&le1962', 'Elean0r4Ever', 'A&1IJAH18', '04041964', 'Precious4Ever', '123456', '10061963', 'Abe4Ever', '$e@n2006', '28081982', 'TAME11E53', '0000', 'g-b$5H]CM*', 'azerty', 'rd["[!T1Ox', '22091981', 'admin', 'SL&YLA57', '06121950', 'NAHLA1997', 'Zahr@2007', '0000', 'Rowan4&v&r', 'Wyatt4&ver', 'Jerry1996', '@rham1971', 'CKADEN0', '`t;2N5C!1B', 'Ayanna4Ev&r', 'mJ7qVaF1$', '=JMZg*', 'ps$wrd', "u4'{QZFAi0&", '123456', '123456', 'Wesley4Ever', 'ZHIND@23', 'Makai4Ev&r', 'admin', '123456', '12071994', 'RSHANIA58', 'Fra1dy1978', 'Joaqu1n1977', '6gl"VNP0m9', 'JROGER85', '"D6\'A{Qo', '07041988', 'Sidney4&v&r', '_z{{', 'C1M0NA9', 'Malachi4Ever', 'MSCARLETT43', 'ASKY1AH90', 'Enriqu&2004', '23011967', 'HP|iB', 'Q^ki09~K4', 'ps$wrd', 'Esty2004', 'pR{fWjJ@S8-', '3ayu)', '20111990', ')=/#TZ?', 'JNYLA9', '15091986', '@;j>.0', 'Wyatt1995', 'JD@NNY25', '@b0^gaT', '26041991', '1ogan2001', 'GCAM1LO93', '18021980']

Now, if I tell you the list of connections attempts is the file "_connections_v1.csv_", you have everything to measure the same accuracy as last week, if you are familiar with the technique of the Ctrl+C, Ctrl+V...<br>
But that wouldn't be funny.<br>
Let's try to use pandas help. First, loading the table:

In [24]:
connections = pd.read_csv('connections_v1.csv')
connections

,logins,passwords,ips,dates
0,milania_madison@email.com,#i<JzMIoN[,200.6496.96.169,0:58:7 8-3-2021
1,enrique_aiden@email.com,/`_a,165.21909.149.232,16:8:54 5-4-2023
2,zayan_imona@email.com,"'\-CGa>Tb,",165.21909.149.232,7:22:41 19-10-2025
3,jesus_beatrix@email.com,Jesus1974,103.28476.60.152,12:20:32 04-08-2019
4,amirah_kaden@email.com,zz_[,45.58432.64.179,5:57:19 22-9-2024
...,...,...,...,...
99995,pinchus_blimy@email.com,Elean0r4Ever,152.40564.116.242,01:31:12 19-04-2020
99996,jared_roger@email.com,JROGER85,208.18426.250.129,14:03:55 06-06-2019
99997,jane_jaelynn@email.com,Wesley4Ever,102.54848.64.11,22:06:47 24-06-2022
99998,jesus_beatrix@email.com,Jesus1974,197.65519.239.242,12:42:08 21-05-2020
99999,chaya_raquel@email.com,!?!m1r{M{d=,165.21909.149.232,12:28:36 10-10-2024

Let's iterate through people table and find how many times they tried to connect.

In [25]:
for i in people:
    print(i)

names
surnames
ips
passwords
logins

Iterating through a pandas dataframe actually only gives us the names of the columns... it iterate row by row, there is a trick: iterrows()

In [26]:
for idx, row in people.iterrows():
    print(idx, row)
    target_login    = row['logins']
    target_password = row['passwords']
    target_ip       = row['ips']
    break

0 names                        Hannah
surnames                      AIDEN
ips                  67.4549.197.72
passwords                Hannah1956
logins       hannah_aiden@email.com
Name: 0, dtype: object

Let's look at this first person: How many times did someone tried to connect as Hannah? <br>
We could iterate through all rows of the connections table, or just ask pandas nicely: _What are the connections where the login used was equal to this target login?_

In [27]:
Hannah_attempts = connections[connections['logins']==target_login]
print(Hannah_attempts)

                       logins    passwords                ips  \
267    hannah_aiden@email.com     eB$wBMT'   103.9946.218.128
360    hannah_aiden@email.com   Hannah1956  162.34210.162.216
447    hannah_aiden@email.com      LWc&);S   208.13590.22.181
568    hannah_aiden@email.com  v/xWGOUdwZA    108.45935.111.1
582    hannah_aiden@email.com    +R#5+=-lm   103.9946.218.128
...                       ...          ...                ...
99514  hannah_aiden@email.com    OM&B.ylls  102.34809.249.148
99553  hannah_aiden@email.com   Hannah1956     209.6965.53.30
99729  hannah_aiden@email.com      ge^>8CM  157.42870.118.150
99877  hannah_aiden@email.com         /`><   128.57502.158.98
99898  hannah_aiden@email.com    6TQF=DNdS    41.57251.163.41

                     dates
267      12:5:47 22-8-2021
360    14:31:11 18-07-2023
447      16:4:41 13-6-2023
568      4:55:39 28-6-2025
582      12:0:17 22-8-2021
...                    ...
99514   12:42:39 26-6-2023
99553  17:31:41 17-03-2021
99729   2:11:18 28-11-2020
99877     1:29:3 12-6-2023
99898    15:49:24 0-6-2021

[1011 rows x 4 columns]

Wow, more than a thousand connections! Now, how many of those had the right login?

In [31]:
Hannah_successful = Hannah_attempts[Hannah_attempts['passwords']==target_password]
print(len(Hannah_successful))
Hannah_bad = Hannah_attempts[Hannah_attempts['passwords']!=target_password]
print(len(Hannah_bad))

257
754

Not so much. Now, same thing as last week: how many attempts and successful attempts from which ips?

In [44]:
print(f"Successful attempts:", end="\t")
print(f"Same ip:{len(Hannah_successful[Hannah_successful['ips']==target_ip])}", end="\t")
print(f"Different ip:{len(Hannah_successful[Hannah_successful['ips']!=target_ip])}")

print(f"Unsuccessful attempts:", end="\t")
print(f"Same ip:{len(Hannah_bad[Hannah_bad['ips']==target_ip])}", end="\t")
print(f"Different ip:{len(Hannah_bad[Hannah_bad['ips']!=target_ip])}")
#your code here

Successful attempts:	Same ip:0	Different ip:257
Unsuccessful attempts:	Same ip:0	Different ip:754

So, when connecting from her house, she never had a wrong password, but outside, it happened a lot... Let's take a look ip by ip.

In [36]:
# Get the set of ips:
set_ips = set(Hannah_attempts['ips'])
print(f"Over {len(Hannah_attempts)} attempts, {len(set_ips)} different ips where used")

# for each ip, find the number of successful and unsuccessful attempts:
for ip in set_ips:
    num_good = len(Hannah_successful[Hannah_successful['ips']==ip])
    num_bad  = len(Hannah_bad[Hannah_bad['ips']==ip])
    print(f"With ip {ip}: \t{num_good} good attempts for {num_bad} failed attempts.")

Over 1011 attempts, 157 different ips where used
With ip 89.10931.179.153: 	1 good attempts for 0 failed attempts.
With ip 92.37115.251.188: 	1 good attempts for 0 failed attempts.
With ip 103.48438.54.187: 	1 good attempts for 0 failed attempts.
With ip 131.19506.50.32: 	1 good attempts for 0 failed attempts.
With ip 128.57502.158.98: 	1 good attempts for 96 failed attempts.
With ip 38.5175.55.34: 	1 good attempts for 0 failed attempts.
With ip 190.3127.55.38: 	1 good attempts for 0 failed attempts.
With ip 5.27114.234.233: 	1 good attempts for 0 failed attempts.
With ip 45.21261.13.243: 	1 good attempts for 0 failed attempts.
With ip 103.6291.147.205: 	1 good attempts for 0 failed attempts.
With ip 181.10695.199.43: 	1 good attempts for 0 failed attempts.
With ip 159.4806.198.178: 	1 good attempts for 0 failed attempts.
With ip 38.37047.183.235: 	1 good attempts for 0 failed attempts.
With ip 192.57378.34.202: 	1 good attempts for 0 failed attempts.
With ip 197.65519.239.242: 	1 good attempts for 0 failed attempts.
With ip 38.50669.237.21: 	1 good attempts for 0 failed attempts.
With ip 196.50820.132.173: 	1 good attempts for 0 failed attempts.
With ip 5.45570.2.201: 	1 good attempts for 0 failed attempts.
With ip 144.24699.123.9: 	1 good attempts for 0 failed attempts.
With ip 102.54848.64.11: 	1 good attempts for 0 failed attempts.
With ip 208.13590.22.181: 	1 good attempts for 94 failed attempts.
With ip 102.55135.95.149: 	1 good attempts for 0 failed attempts.
With ip 203.4594.242.115: 	1 good attempts for 0 failed attempts.
With ip 31.3416.88.143: 	1 good attempts for 0 failed attempts.
With ip 181.55188.148.7: 	1 good attempts for 0 failed attempts.
With ip 78.34935.119.166: 	1 good attempts for 8 failed attempts.
With ip 38.27727.79.184: 	1 good attempts for 0 failed attempts.
With ip 102.54341.69.158: 	1 good attempts for 0 failed attempts.
With ip 209.44091.59.215: 	1 good attempts for 0 failed attempts.
With ip 102.54850.66.72: 	1 good attempts for 0 failed attempts.
With ip 63.43794.18.220: 	1 good attempts for 0 failed attempts.
With ip 128.2108.60.68: 	1 good attempts for 0 failed attempts.
With ip 207.706.194.189: 	1 good attempts for 0 failed attempts.
With ip 91.61302.118.48: 	1 good attempts for 0 failed attempts.
With ip 209.37473.97.3: 	1 good attempts for 0 failed attempts.
With ip 154.18792.104.202: 	1 good attempts for 0 failed attempts.
With ip 199.49631.223.4: 	1 good attempts for 0 failed attempts.
With ip 102.33165.141.91: 	1 good attempts for 0 failed attempts.
With ip 65.46366.30.35: 	1 good attempts for 0 failed attempts.
With ip 52.31773.29.150: 	1 good attempts for 0 failed attempts.
With ip 197.7232.64.3: 	1 good attempts for 0 failed attempts.
With ip 185.5508.132.185: 	1 good attempts for 0 failed attempts.
With ip 186.16436.52.132: 	1 good attempts for 0 failed attempts.
With ip 192.58317.205.23: 	1 good attempts for 0 failed attempts.
With ip 91.56430.110.125: 	1 good attempts for 0 failed attempts.
With ip 199.51478.22.243: 	1 good attempts for 0 failed attempts.
With ip 102.55548.252.4: 	1 good attempts for 0 failed attempts.
With ip 146.56897.65.109: 	1 good attempts for 0 failed attempts.
With ip 16.30588.124.166: 	1 good attempts for 0 failed attempts.
With ip 32.27433.41.168: 	1 good attempts for 0 failed attempts.
With ip 192.24712.136.12: 	1 good attempts for 0 failed attempts.
With ip 23.1436.156.66: 	1 good attempts for 0 failed attempts.
With ip 38.773.5.128: 	1 good attempts for 0 failed attempts.
With ip 103.15459.99.67: 	1 good attempts for 0 failed attempts.
With ip 152.40564.116.242: 	1 good attempts for 0 failed attempts.
With ip 102.57153.65.168: 	1 good attempts for 0 failed attempts.
With ip 216.37174.54.156: 	1 good attempts for 0 failed attempts.
With ip 23.52915.179.175: 	1 good attempts for 0 failed attempts.
With ip 161.2148.100.99: 	1 good attempts for 0 failed attempts.
With ip 94.31896.152.165: 	1 good attempts for 0 failed attempts.
With ip 193.57124.36.30: 	1 good attempts for 0 failed attempts.
With ip 116.23008.224.81: 	1 good attempts for 0 failed attempts.
With ip 168.86.86.87: 	1 good attempts for 0 failed attempts.
With ip 91.56596.20.66: 	1 good attempts for 0 failed attempts.
With ip 32.14876.28.120: 	1 good attempts for 0 failed attempts.
With ip 70.10189.205.16: 	1 good attempts for 0 failed attempts.
With ip 41.43630.110.138: 	1 good attempts for 0 failed attempts.
With ip 5.20038.70.126: 	1 good attempts for 0 failed attempts.
With ip 57.18255.79.251: 	1 good attempts for 0 failed attempts.
With ip 162.34210.162.216: 	1 good attempts for 0 failed attempts.
With ip 41.57251.163.41: 	1 good attempts for 96 failed attempts.
With ip 157.42870.118.150: 	1 good attempts for 95 failed attempts.
With ip 38.53425.177.12: 	1 good attempts for 0 failed attempts.
With ip 91.63034.58.127: 	1 good attempts for 0 failed attempts.
With ip 40.28189.29.235: 	1 good attempts for 0 failed attempts.
With ip 23.22190.174.109: 	1 good attempts for 0 failed attempts.
With ip 185.45916.92.204: 	1 good attempts for 0 failed attempts.
With ip 208.61772.76.148: 	1 good attempts for 0 failed attempts.
With ip 8.63697.209.56: 	1 good attempts for 0 failed attempts.
With ip 8.61842.146.7: 	1 good attempts for 0 failed attempts.
With ip 185.14531.195.144: 	1 good attempts for 0 failed attempts.
With ip 209.37562.186.172: 	1 good attempts for 0 failed attempts.
With ip 190.47473.113.85: 	1 good attempts for 0 failed attempts.
With ip 161.56762.186.159: 	1 good attempts for 0 failed attempts.
With ip 62.18160.240.252: 	1 good attempts for 0 failed attempts.
With ip 196.12353.65.189: 	1 good attempts for 0 failed attempts.
With ip 41.20084.116.209: 	1 good attempts for 0 failed attempts.
With ip 193.6113.225.176: 	1 good attempts for 0 failed attempts.
With ip 70.21674.170.113: 	1 good attempts for 0 failed attempts.
With ip 216.47061.213.95: 	1 good attempts for 0 failed attempts.
With ip 216.56572.252.206: 	1 good attempts for 0 failed attempts.
With ip 209.6965.53.30: 	1 good attempts for 0 failed attempts.
With ip 138.21706.202.204: 	1 good attempts for 0 failed attempts.
With ip 104.25373.29.147: 	1 good attempts for 76 failed attempts.
With ip 194.9380.164.46: 	1 good attempts for 0 failed attempts.
With ip 23.57603.3.67: 	1 good attempts for 0 failed attempts.
With ip 81.51124.180.12: 	1 good attempts for 0 failed attempts.
With ip 34.29408.224.75: 	1 good attempts for 0 failed attempts.
With ip 38.17598.190.88: 	1 good attempts for 0 failed attempts.
With ip 196.15812.196.117: 	1 good attempts for 0 failed attempts.
With ip 104.55698.146.36: 	1 good attempts for 0 failed attempts.
With ip 38.6385.241.28: 	1 good attempts for 14 failed attempts.
With ip 206.21375.127.190: 	1 good attempts for 0 failed attempts.
With ip 82.41934.206.111: 	1 good attempts for 0 failed attempts.
With ip 203.24739.163.7: 	1 good attempts for 0 failed attempts.
With ip 146.19359.159.244: 	1 good attempts for 0 failed attempts.
With ip 192.52125.157.25: 	1 good attempts for 0 failed attempts.
With ip 195.51828.116.88: 	1 good attempts for 0 failed attempts.
With ip 102.34809.249.148: 	1 good attempts for 15 failed attempts.
With ip 213.52265.41.50: 	1 good attempts for 0 failed attempts.
With ip 45.15653.37.231: 	1 good attempts for 0 failed attempts.
With ip 20.48862.222.247: 	1 good attempts for 0 failed attempts.
With ip 190.31495.7.152: 	1 good attempts for 0 failed attempts.
With ip 57.19051.107.35: 	1 good attempts for 0 failed attempts.
With ip 185.62476.12.210: 	1 good attempts for 0 failed attempts.
With ip 192.32531.19.2: 	1 good attempts for 0 failed attempts.
With ip 46.57979.123.200: 	1 good attempts for 0 failed attempts.
With ip 38.18536.104.79: 	1 good attempts for 0 failed attempts.
With ip 103.10636.140.39: 	1 good attempts for 0 failed attempts.
With ip 200.6496.96.169: 	1 good attempts for 35 failed attempts.
With ip 107.42065.81.7: 	1 good attempts for 56 failed attempts.
With ip 74.13644.76.158: 	1 good attempts for 0 failed attempts.
With ip 194.28336.176.220: 	1 good attempts for 0 failed attempts.
With ip 104.31445.213.227: 	1 good attempts for 0 failed attempts.
With ip 103.9946.218.128: 	1 good attempts for 61 failed attempts.
With ip 17.30262.54.114: 	1 good attempts for 0 failed attempts.
With ip 45.3879.39.207: 	1 good attempts for 0 failed attempts.
With ip 195.2163.115.220: 	1 good attempts for 0 failed attempts.
With ip 185.64116.116.192: 	1 good attempts for 0 failed attempts.
With ip 193.63076.100.28: 	1 good attempts for 0 failed attempts.
With ip 95.43867.91.84: 	1 good attempts for 2 failed attempts.
With ip 67.58970.90.245: 	1 good attempts for 0 failed attempts.
With ip 209.15197.93.203: 	1 good attempts for 0 failed attempts.
With ip 206.21375.127.22: 	1 good attempts for 0 failed attempts.
With ip 203.14129.49.245: 	1 good attempts for 0 failed attempts.
With ip 107.47814.198.154: 	1 good attempts for 0 failed attempts.
With ip 152.27774.126.249: 	1 good attempts for 0 failed attempts.
With ip 170.21237.245.157: 	1 good attempts for 0 failed attempts.
With ip 45.40590.142.21: 	1 good attempts for 0 failed attempts.
With ip 185.29333.149.182: 	1 good attempts for 0 failed attempts.
With ip 108.45935.111.1: 	1 good attempts for 81 failed attempts.
With ip 67.4549.197.72: 	101 good attempts for 0 failed attempts.
With ip 8.60981.53.182: 	1 good attempts for 0 failed attempts.
With ip 38.22503.231.236: 	1 good attempts for 0 failed attempts.
With ip 209.2437.133.199: 	1 good attempts for 0 failed attempts.
With ip 188.35289.217.27: 	1 good attempts for 0 failed attempts.
With ip 103.12717.173.221: 	1 good attempts for 0 failed attempts.
With ip 45.58432.64.179: 	1 good attempts for 25 failed attempts.
With ip 23.23317.21.89: 	1 good attempts for 0 failed attempts.
With ip 63.56450.130.43: 	1 good attempts for 0 failed attempts.
With ip 185.13675.107.136: 	1 good attempts for 0 failed attempts.
With ip 185.36806.198.143: 	1 good attempts for 0 failed attempts.
With ip 196.12436.148.194: 	1 good attempts for 0 failed attempts.
With ip 170.52165.197.57: 	1 good attempts for 0 failed attempts.
With ip 38.53647.143.63: 	1 good attempts for 0 failed attempts.
With ip 185.40231.39.39: 	1 good attempts for 0 failed attempts.
With ip 34.29263.79.10: 	1 good attempts for 0 failed attempts.

That's a bit messy... Can you only print the ips that _either_ got multiple good connections, or at least one bad connection?<br>
And add a little line to say when it's the ip she used to register her account.

In [38]:
# for each ip, find the number of successful and unsuccessful attempts:
for ip in set_ips:
    num_good = len(Hannah_successful[Hannah_successful['ips']==ip])
    num_bad  = len(Hannah_bad[Hannah_bad['ips']==ip])
    #print(f"With ip {ip}: \t{num_good} good attempts for {num_bad} failed attempts.")

    if num_bad>0:
        print(f"The ip used that had multiple failed attempts is {ip}")
    elif num_good>1:
        print(f"The ip used that had multiple successful attempts is {ip}")

The ip used that had multiple failed attempts is 128.57502.158.98
The ip used that had multiple failed attempts is 208.13590.22.181
The ip used that had multiple failed attempts is 78.34935.119.166
The ip used that had multiple failed attempts is 41.57251.163.41
The ip used that had multiple failed attempts is 157.42870.118.150
The ip used that had multiple failed attempts is 104.25373.29.147
The ip used that had multiple failed attempts is 38.6385.241.28
The ip used that had multiple failed attempts is 102.34809.249.148
The ip used that had multiple failed attempts is 200.6496.96.169
The ip used that had multiple failed attempts is 107.42065.81.7
The ip used that had multiple failed attempts is 103.9946.218.128
The ip used that had multiple failed attempts is 95.43867.91.84
The ip used that had multiple failed attempts is 108.45935.111.1
The ip used that had multiple successful attempts is 67.4549.197.72
The ip used that had multiple failed attempts is 45.58432.64.179

Now we now, _for each person_ how to find how many attempts were good or not, meaning we can compute fastly the authentication accuracy! <br>
Let's do it: What's the percentage of successful connection attempts?

In [42]:


successful_attempts = 0

for idx, row in people.iterrows():
    target_login    = row['logins']
    target_password = row['passwords']
    target_ip       = row['ips']
    #What are the connections linked to this login?
    users_connections = connections[connections['logins']==target_login]
    #How many successful (right password) ?

    successful_attempts += len(users_connections[users_connections['passwords']==target_password])

print(f"The percentage of successful connections is {100*successful_attempts/len(connections)}%")
print(f"Meaning {successful_attempts} successful attempts.")

The percentage of successful connections is 24.825%
Meaning 24825 successful attempts.

Let's practice a bit more: What if I told you that if someone has more failed attempts than good ones, it might be a hacker trying to guess the password?
Can you measure the proportion of hacks?

In [43]:
hacks = 0
set_ips = set(connections['ips']) #get the set of ips

for ip in tqdm(set_ips): #for each ip :
    
    #what are the connections linked to this ip
    ip_con = connections[connections['ips']==ip] 
    #what are the peoples that got targeted by those connections
    set_target_logins = set(ip_con['logins'])
    
    successful_attempts = 0
    unsuccessful_attempts = 0
    #for each of those people:
    for target_login in set_target_logins:
        #what is the right password associated to the login?
        target_password = people[people['logins']==target_login]['passwords'].item()
        
        #What are the connections linked to this login?
        users_connections = ip_con[ip_con['logins']==target_login]
        
        #How many successful (right password) vs unsuccessful ?
        successful_attempts += len(users_connections[users_connections['passwords']==target_password])
        unsuccessful_attempts += len(users_connections[users_connections['passwords']!=target_password])
    
    if successful_attempts<unsuccessful_attempts:
        hacks+= successful_attempts

print(f"The number of people that got hacked is {hacks}")

100%|██████████| 919/919 [00:24<00:00, 37.40it/s]

The number of people that got hacked is 1485

# To get further
If you wanna get more familiar with pandas, I invite you to look here: https://pandas.pydata.org/docs/user_guide/10min.html